{{#each character}}
  <div class="col-md-3 select-char dormant">
    <img src="{{image}}" class="selected-char" id="{{name}}-selected" data-character-name="{{name}}"/>
    <br>
    <h3>{{name}}</h3>
  </div>
{{/each}}

{{#each character}}
  <div class="col-md-3">
    <img src="{{image}}" class="js-EnemyChar" data-heartless-name="{{name}}"/>
    <br>
    <h3>{{name}}</h3>
  </div>
{{/each}}
